:root {
    --primary: #5e5a5a;
    --text-color: #333;
    --bg-color: #f8f8f8;
    --bg-alt-color: #b2a4a49a;
    --border-radius: 10px;
}

body {
    background-color: var(--bg-color);
    transition: background-color .4s;
    display: flex;
    justify-content: center;
}


h5 {
    color: var(--text-color);
}

.card {
    background-color: var(--bg-alt-color);
    border-radius: var(--border-radius);
    
}

.card-body {
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
}

.btn {    
    font-size: 1rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    padding-left: 1.5vh;
    padding-right: 1.5vh;
    border: none;
    color: var(--text-color);
    transition: all 0.2s ease-in-out;
}
    
.btn:hover {
    background-color: rgba(150, 150, 150, 0.7);
    box-shadow: 0 0 0.5rem rgba(150, 150, 150, 0.7);
    text-shadow: 0 0 0.5rem rgba(150, 150, 150, 0.7);
}

.bi-volume-up-fill{
    margin-left: 0.5vh;
}

.bi-volume-down-fill{
    margin-right: 0.5vh;
}

input {
    cursor: pointer;
    -webkit-appearance: none;
    border-radius: 7px;
    transition: width 0.2s ease;
    &::-webkit-slider-thumb {
        appearance: none;
        width: 0.9rem;
        height: 0.9rem;
        border-radius: 50%;
        background: #333;
        cursor: pointer;
    }
  }


    

